*{
    margin: 0;
    padding: 0;

}



body{

    margin: 0;
    padding: 0;  
    
  
}


.main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

.div1{
    height: 100Vh;
    width: 80%;
    background-color: rgb(250, 250, 250);
    margin-left: 8rem;
    margin-top: 4rem;
    
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    overflow: scroll;
}


h3{
    margin-left: 25rem;
    font-family: "Dosis";
    color: violet;

    
}
